
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <!-- <button onClick="sendMsg()">Hit Me</button> -->
    <input type="text" id="msg" placeholder="Enter Message">
    <button id="sendBtn">Send message</button>


    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io("http://localhost:8000");
        const SendBtn = document.getElementById("sendBtn") ;
        const msgInput = document.getElementById("msg");

        socket.on("serverMessage",(message) => {console.log(message)})


        SendBtn.addEventListener("click",(e) => {
            const message = msgInput.value ;
            // console.log(message) ;
            socket.emit("userMessage",message) ;
        })

    </script>
  </body>
</html>